<!--
 * @Author: your name
 * @Date: 2021-04-10 14:27:16
 * @LastEditTime: 2021-04-10 14:41:40
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \Vue3.x\Demo18  v-for(2).html
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app"></div>
</body>
<script>
    const app=Vue.createApp({ 
        data(){
            return{   
                listArray:['西施','貂蝉','王昭君','杨玉环'],
                listObject:{
                    GirlOne:'西施',
                    GirlTwo:'貂蝉',
                    GirlThree:'王昭君',
                    Girlfour:'杨玉环'
                }
            }
        },
        methods:{
            handleChangeBtnClick() {
                this.listArray.push('技术胖')
            },
        },
        //绑定key值的使用方法，目的就是增加渲染性能，只渲染新变化的内容，避免重复渲染
        
        //v-for和v-if处于同一级同一个标签中时，v-for循环的优先级要高于v-if判断的优先级，所以v-if判断失效。
        template:`
            <ul>
                <template v-for="(item,index)  in listArray" :key="index + item">
                    <li v-if="item != '王昭君'">[{{index}}]{{item}}</li>
                </template>
            </ul>
            <button @click="handleChangeBtnClick">点击改变</button>
        `
        //循环对象
        /*template:`
            <ul>
                <li v-for="(value,key,index) in listObject":key="key">[{{index}}]{{value}}-{{key}}</li>    
            </ul>
            <span v-for="count in 99">{{count}} |</span>
            <button @click="handleChangeBtnClick">点击改变</button>
        `*/

    }) 
    const vm=app.mount("#app")
</script>
</html>